
flask
langchain==0.1.17
langchain-core==0.1.52
langchain-huggingface==0.0.3
langchain-google-genai==0.0.6
PyPDF2
PyPDF4
beautifulsoup4
sentence-transformers==5.0.0
chromadb==0.4.24
faiss-cpu
openai
together
google-generativeai

